<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>This is site of Login</h1>
    <form action="{{url_for('login')}}" method="post">
        <label for="Fullname">
            Fullname
            <input type="text" name="fullname" id="Fullname">
        </label>

        <br> <br>
        
        <label for="Email">
            Email
            <input type="email" name="email" id="Email">
        </label>
        <br> <br>
        <button>Login</button>

        <br> <br>
    </form>
</body>
</html>